{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Delta Ecommerce{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a><br/>
    <hr>
    {# Message success modification mot de passe #}
    {% for message in app.flashes('PasswordChange') %}
         <div class="alert alert-success text-center" role="alert">{{ message }}</div>
    {% endfor %}

    {# Message error modification mot de passe #}
    {% for message in app.flashes('PasswordError') %}
         <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
    {% endfor %}
    {{ form(form) }}
{% endblock %}
