.navbar_item_custom, .navbar_item_custom a {
    color: #ffff;
}

.footer_custom {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
}